<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist.css' %}">
</head>

<body class="bg-gray-100">
<nav class="bg-gray-800 py-4 px-6 text-white">
    <div class="container mx-auto flex justify-between">
        <a href="/" class="text-lg font-semibold">My Blog</a>
        <ul class="flex space-x-4">
            <li><a href="{% url 'posts' %}" class="hover:text-gray-400">All posts</a></li>
            <li><a href="{% url 'authors' %}" class="hover:text-gray-400">All authors</a></li>
            {% if user.is_authenticated %}
                <li class="flex items-center">
                <span class="mr-2 font-bold">|</span>
                    <span class="mr-2">Welcome back,</span>
                    <span class="mr-2 font-bold">{{ user.get_username }}</span>

                    <a href="" class="hover:text-gray-400 mr-2">Profile</a>
                    <a href="{% url 'logout' %}" class="hover:text-gray-400 mr-2">Logout</a>
                    {% if user.get_role == 'author' %}
                        <a href="{% url 'all-posts' %}" class="hover:text-gray-400">All my posts</a>
                    {% endif %}
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="hover:text-gray-400">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<main class="container mx-auto py-8 px-6">
    <!-- Blog content goes here -->
    {% block content %}{% endblock %}

    <!-- Pagination -->
    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination mt-8">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="text-blue-500 hover:text-blue-700">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="text-blue-500 hover:text-blue-700">next</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    {% endblock %}
</main>

<footer class="bg-gray-800 py-4 px-6 text-white mt-8">
    <div class="container mx-auto">
        <p class="text-center">© 2023 My Blog. All rights reserved.</p>
    </div>
</footer>
</body>

</html>