{% extends "base_generic.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">All Posts</h1>
<ul class="space-y-6">
    {% if posts %}
        {% for post in posts %}
            <li>
                <h2 class="text-xl font-semibold"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p class="text-gray-600">{{ post.author }} | {{ post.updated_at }}</p>
                <p class=" mt-2">{{ post.content|truncatewords:100|safe }} <a class="font-bold" href="{{ post.get_absolute_url }}">view more</a></p>
                <p class="text-gray-500 mt-2">Tags: {{ post.get_tags }}</p>
            </li>
        {% endfor %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
</ul>
{% endblock %}
